body {
    background-image: url("Screenshot (1).png");




}

footer{
    background-color: black;
  
color: white;
  
}


#ha{
    color: white;
    background-color: black;
    margin-top: 500px;
}

#he{
    font-size: 100px;
}