body {
    color:mediumaquamarine;
    background-color:black;
}

#money1 {
    background-color:mediumspringgreen;
}

#money2 {
    background-color: mediumturquoise;
}

#money3 {
    background-color: mediumspringgreen;
}
#money4 {
    background-color: mediumturquoise;
}
#money5 {
    background-color:mediumspringgreen;
}
#money6 {
    background-color:mediumturquoise;
}