body {
    color:mediumspringgreen;
    background-color:black;
}

#money1 {
    background-color: red;
}

#money2 {
    background-color: orange;
}

#money3 {
    background-color: yellow;
}
#money4 {
    background-color: green;
}
#money5 {
    background-color: blue;
}
#money6 {
    background-color:purple;
}